<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<h1 class="page-header">Transactions</h1>
	<div class="row placeholders" ng-repeat="account in accounts">
      	<div class="panel panel-default" ng-click="selectAccount(account)">
	 		<div class="panel-body" ng-class="account.selected ? 'bg-primary' : ''">
	    		<h4>{{account.address}}</h4>
        		<div>
        			<h3>{{account.balance}} Ether</h3>
        		</div>
	  		</div>
		</div>
	</div>

	<div class="row" ng-show="activePage == 'group voting'">
		<div class="form-group">
	    	<label for="title">Contribution Amount</label>
		    <input class="form-control" ng-model="transactionToExecute.recipient" uib-typeahead="account.address for account in accounts">
	  	</div>
	</div>

    <h2 class="sub-header">Transactions</h2>
    <div class="table-responsive">
      	<table class="table">
      		<tr>
      			<th>From</th>
      			<th>To</th>
      			<th>Amount</th>
      		</tr>
      		<tr ng-repeat="transaction in transactions">
      			<td></td>
      			<td></td>
      			<td></td>
      		</tr>
      	</table>
	</div>
</div>